@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }

    #top {
        background-image: url(../images/Background1.jpg);
        background-repeat: no-repeat;
    }

    .about {
        background-image: url(../images/BackgroundWhite.jpg);
    }

    #about h1 {
        background-image: url(../images/BackgroundBlur.jpg);
    }

    #cv h1 {
        background-image: url(../images/BackgroundBlur.jpg);
    }

    #aboutBox {
        background-image: url(../images/BackgroundBlur.jpg);
    }
    
    #cv {
        background-image: url(../images/BackgroundWhite.jpg);
    }

    .cvContentName {
        background-image: url(../images/BackgroundXLBlur.jpg);
    }

    .cvContentDesc { 
        background-image: url(../images/BackgroundXXLBlur.jpg);
    }

    #menu {
        background-image: url(../images/backgroundMenu.jpg);
    }

    .topBox {
        background-image: url(../images/backgroundBox.jpg);
    }