@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "EncodeSansExpanded";
    src: url("Encode_Sans_Expanded/EncodeSansExpanded-Light.ttf");
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: EncodeSansExpanded, Arial, Helvetica, sans-serif;
    background-image: url(../images/background-1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    }

    .about {
        background-image: url(../images/background-white.png);
    }

    #about h1 {
        background-image: url(../images/background-blur.png);
    }

    .sectionTitles {
        background-image: url(../images/background-box.png);
    }

    #aboutBox {
        background-image: url(../images/background-blur.png);
    }
    
    .cvSections {
        background-image: url(../images/background-white.png);
    }

    .cvTitles {
        background-image: url(../images/background-white.png);
    }

    .cvTitles h1 {
        background-image: url(../images/background-blur.png);
    }
    #menu {
        background-image: url(../images/background-menu.png);
    }

    .topBox {
        background-image: url(../images/background-box.png);
    }
    
    #contact {
        background-image: url(../images/background-white.png);

    }

    .highlight {
        background-image: url(../images/background-1.png);
    }

    .card {
        background-image: url(../images/background-white.png);
    }

    .beam {
        background-image: url(../images/background-1.png);
    }
    
    #consent {
        background-image: url(../images/background-box.png);
    }